<h2><%= "#{@user.name}のマイページ" %></h2>

<div class="row">
    <p>ユーザーネーム：<%= @user.name %></p>
    <p>メールアドレス：<%= @user.email %></p>
</div>
<br>
<%= link_to t('Edit your profile'), edit_user_registration_path %>