// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
  // margin-top: 0;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: image-url("default_wine.jpeg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-position: center;
  height: 80%;
  margin: 0;
}

.logo_mark img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.logo_mark img:hover {
  opacity: 0.5;
}

.wine_table {
  // border: solid 1px #000000;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.btn-primary.outline {
  border: 5px solid green;
}

.container > img {
  opacity: 0.6;  
}

.mypage_favorite {
  float: right;
  // list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.wrapper{
  min-height: 100vh;
  margin: auto;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
  width: 100%;
  // background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  font-size: 75%;

position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

// .imgWrap {
//   display: center;
//   margin-left: auto;
//   margin-right: auto;
//   overflow: hidden;
//   width: 155px;
//   height: 212px;
//   margin-right: 25px;
//   margin-bottom: 25px;
// }